<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <style>
            a{
                text-decoration: none;
            }
        </style>
    </head>
    
    <body align="center">
           
        <button><a href="/student">Student</a></button>
        <button><a href="/course">Courses</a></button>

    </body>
</html>